#header{
  background-color: $beige;
  //max-height: 100px;
  width: 100%;
  //position: fixed;
  padding: 10px 0 10px;
  top: 0;

  .container__row{
    justify-content: space-between;
  }

  #logo{
    max-width: 220px;
    margin-top: 15px;

    img{ width: 100% }
  }
  //@include respond-above(md) {
  //
  //}
}
