#header{
  background-color: $beige;
  width: 100%;
  position: fixed;
  padding: 10px 0 10px;
  top: 0;
  z-index: 99;
  height: 100vh;



  .logo{
    max-width: 170px;
    margin-top: 15px;

    img{ width: 100% }
  }

  @include respond-above(sm) {
    height: 70px;
    background-color: $beige-op;
  }
  @include respond-above(md) {
    height: 80px;
    .logo{max-width: 220px;}
  }

  @include respond-below(sm) {
    .container, .container__row{
      height: 100%;
      flex-direction: column;
    }
  }
}
