.img-grid {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  &.right-focus{
    flex-direction: row-reverse;
  }

  &.center-focus{
    .img-grid__image{
      flex: 1 1 50%;
      aspect-ratio: 1 / 1;
    }
  }

  &__image{
    width: auto;
    max-width: 100%;
    //height: 500px;
    aspect-ratio: 4 / 3;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.top img{
      object-position: top;
    }
    &.bottom img{
      object-position: bottom;
    }
    &.center img{
      object-position: center;
    }
  }

  &__left{
    flex: 1 1 65%;

  }

  &__right{
    flex: 1 1 35%;
  }
}

.img-with-text{
  display: flex;
  align-items: start;

  flex-direction: column;

  @include respond-above(md) {
    flex-direction: row;
  }

  &__img{
    //width: 50%;
    flex: 1 1 50%;
    aspect-ratio: 1 / 1;

    a{
      width: 100%;
      height: 100%;
      display: block;
    }

    img{
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }

    @include respond-below(md) {
      margin-right: 10%;
    }
  }

  &__text{
    //width: 50%;
    flex: 1 1 50%;
    background-color: #fff;
    padding: 30px 20px 20px;
    position: relative;
    color: #707070;
    margin-left: 10%;
    margin-top: -15%;

    @include respond-above(md) {
      padding: 70px 100px 70px;
      margin-left: -10%;
      margin-top: 15%;
    }
  }


}