.nav{
  display: flex;

  ul{
    display: flex;
    padding: 0;
    margin: 0;

    &.menu{
      flex-direction: column;
      align-items: flex-start;
    }

    li{
      list-style: none;
      text-decoration: none;
    }

    a{
      text-decoration: none;
    }

    @include respond-above(sm){
      &.menu{
        flex-direction: row;
        margin: 0;
      }
    }
  }

  &--wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    #menu{
      margin-top: auto;
      margin-bottom: auto;
    }

    @include respond-above(sm){
      align-self: end;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .nav{
        margin-left: auto;
      }


    }
  }

}

.main-nav{
  position: relative;

  .menu-main-menu-container{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .menu{

    li{
      font-family: reason-new, sans-serif;
      font-weight: 300;
      font-size: 26px;
      text-transform: uppercase;
      padding: 10px 5px;
      position: relative;
      margin-left: -5px;

      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: $gold;
        opacity: 0;
        left: 0;
        bottom: 20px;
        z-index: -1;
        transition: all 0.15s ease-in-out;
      }

      &:hover{
        &::after{
          opacity: 0.4;
        }
      }

      &.current_page_item{
        &::after{
          bottom: 14px;
          opacity: 0.4;
        }
      }

      @include respond-above(sm){
        font-size: 16px;
        padding: 0 6px;
        margin: 0 7px;

        &::after{
          height: 8px;
          bottom: 5px;
        }

        &.current_page_item{
          &::after{
            height: 8px;
            bottom: 0;
            opacity: 0.4;
          }
        }

      }
    }

    a{
      color: $gray;
    }
  }
}

.nav--footer {
  margin-bottom: 10px;

  & > .menu-main-menu-container{
    margin-left: -13px;
  }
}


.socials-nav{
  align-items: center;

  ul{
    li{
      font-size: 20px;
      opacity: 0.4;
      padding: 3px;
      transition: opacity 0.15s ease-in-out;

      &:hover, &:active{
        opacity: 1;
      }
    }

    a{
      color: $gray;
    }
  }

  &--gold{
    ul a{
      color: $gold;
    }
  }
}