.nav{
  display: flex;

  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    li{
      list-style: none;
      text-decoration: none;
    }

    a{
      text-decoration: none;
    }
  }
}

#menu{
  position: relative;
  align-self: end;

  .menu-main-menu-container{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  #menu-main-menu{

    li{
      font-family: reason-new, sans-serif;
      font-weight: 300;
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 15px;
    }

    a{
      color: $gray;
    }
  }
}

.socials-nav{
  align-items: center;

  ul{
    li{
      font-size: 20px;
      opacity: 0.4;
      padding: 3px;
      transition: opacity 0.15s ease-in-out;

      &:hover, &:active{
        opacity: 1;
      }
    }

    a{
      color: $gray;
    }
  }

  &--gold{
    ul a{
      color: $gold;
    }
  }
}