// Typography
$font-family-sans-serif: 'Aileron', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Layout
$max: 1640px;
$side-padding:16px;

// Colors
$background: #FFFCF7;
$beige: #F2EADE;
$beige-op: rgba(242, 234, 222, 0.7);
$gold: #E2B671;
$gold-op: rgba(226, 182, 113, 0.4);
$gray: #707070;