// Typography
$font-family-sans-serif: 'Aileron', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Layout
$max: 1640px;
$side-padding:16px;

// Colors
$background: #FFFCF7;
$beige: #F2EADE;